[submodule "betaflight"]
	path = betaflight
	url = https://github.com/rl-tools/betaflight-firmware.git
[submodule "src/rl_tools/blob"]
	path = src/rl_tools/blob
	url = https://github.com/rl-tools/px4-blob
