[submodule "src/rl_tools/blob"]
	path = src/rl_tools/blob
	url = https://github.com/rl-tools/px4-blob
[submodule "firmware/HUMMINGBIRD_F4_V4"]
	path = firmware/HUMMINGBIRD_F4_V4
	url = https://github.com/rl-tools/betaflight-firmware
[submodule "firmware/SITL"]
	path = firmware/SITL
	url = https://github.com/rl-tools/betaflight-firmware
[submodule "firmware/SAVAGEBEE_PUSHER"]
	path = firmware/SAVAGEBEE_PUSHER
	url = https://github.com/rl-tools/betaflight-firmware
[submodule "firmware/BETAFPVG473"]
	path = firmware/BETAFPVG473
	url = https://github.com/rl-tools/betaflight-firmware.git
[submodule "firmware/PAVO20"]
	path = firmware/PAVO20
	url = https://github.com/rl-tools/betaflight-firmware.git
